.hero-unit h1 {
  text-align: center;
  margin-bottom: 36px;
}

form .input {
  margin-left: 0;
}

#search_text {
  font-size: 36px;
  height: 40px;
  width: 812px;
}

.actions {
  text-align: right;
  padding-left: 0;
  padding-right: 0;
}
